<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="content">
    <div class="module">
        <div class="module-body">
            <f:if condition="{noPageSelected}">
                <f:then>
                    <div class="callout callout-info">
                        <div class="media">
                            <div class="media-body">
                                <h4 class="callout-title">Aucune page sélectionnée</h4>
                                <div class="callout-body">
                                    <p>Veuillez sélectionner une page dans l'arborescence pour visualiser ses liens.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </f:then>
                <f:else>
                    <h1>Force Diagram</h1>
                    <div id="force-diagram-container" class="mt-4">
                        <svg id="force-diagram" class="w-full" style="height: 600px;"></svg>
                    </div>
                    <pre id="diagram-data" style="display: none;"><f:format.raw value="{data}"/></pre>
                    
                    <f:if condition="{debugLog}">
                        <div class="mt-4 p-4 bg-light">
                            <h3>Debug Log</h3>
                            <pre><f:format.raw value="{debugLog}"/></pre>
                        </div>
                    </f:if>
                </f:else>
            </f:if>
        </div>
    </div>
</f:section>
</html>